.header {
    padding: 24px 3%;
    min-height: 200px;
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header *{
    margin: 0;
    color: white;
}
.all-center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.table{
    margin-bottom: 50px!important;
}
.ui.active.transition.visible.inverted.dimmer {
    position: fixed!important;
}